root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,cpp,h}]
indent_style = space
indent_size = 4

[*.json]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[templates/**.{c,cpp,h}]
insert_final_newline = false
